.page-header {
  background-color: #394a51;
  display: block;
  height: 120px;
  align-items: center;
  color: #ffffff;
  line-height: 0%;
}
.subtile {
  font-size: small;
}
.container {
  background: #eaf6f6;
  font-family: "Raleway", sans-serif;
  min-width: 600px;
  max-width: 800px;
}
.card {
  max-height: 400px;
  min-height: 400px;
  margin: 5px;
}

.page-footer {
  display: block;
  height: 100px;
  align-items: center;
  line-height: 10px;
  background-color: #394a51;
  color: #ffffff;
}
.contact-details {
  text-align: center;
  font-size: small;
}
